error_log stderr;
access_log off;

server {
	listen 666 default_server;
	listen [::]:666 default_server;

    proxy_buffering off;

    location / {
        rewrite ^(?:/api/ingress/[^/]+)?(.*) $1 last;
        include /etc/nginx/conf.d/ingress/*.conf;
    }
}
